@import url('https://fonts.googleleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 92%;
    padding: 24px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 5s;
}

.navbar ul li:hover a {
    color: #7cf03d;
}

.home {
    display: flex;
    align-items:center;
    height: 100vh;
    padding:60px 9% 0;
    color: #fff;
}

.home-info h1 {
    font-size:55px;
}

.home-info h2{
    font-size: 32px;
    margin-top: -10px;
}

.home-info p {
    font: size 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 5s;
}

.btn:hover {
    background: transparent;
    color:#7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius:  50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color:#1f242d;
    box-shadow: 0 0 10px #7cf03d;
}
.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    background: rgb(231, 57, 60);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent #7cf03d);
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: slateblue;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

/* Footer */
footer {
    background: #1f242d;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #fffdfd;
}

/* Responsive */
@media (min-width: 768px) {
    .features .container {
    display: flex;
    justify-content: space-between;
    }
    .features .feature {
    margin: 0;
    }
}